{% extends 'base.html' %}
{% block title %} Add Faculty {% endblock %}

{% block staticfile %}
    {% load static %}
    <link rel="stylesheet" href="{% static 'faculties/style.css' %}" type="text/css"/>
    <link rel="stylesheet" href="{% static '/style.css' %}" type="text/css"/>
{% endblock %}

{% block body %}

<div class="container-fluid">
    <div class="row row-pad">
        <div class="col-sm-4">

        </div>
        <div class="col-sm-4 row-pad">
            <h3>Under construction</h3>
            <div class="card" style="max-width: 35rem;">
                <div class="text-center" style="padding-top:15px">Faculty Registration</div>
                <div class="card-body">
                    <form method="post">
                        {% csrf_token %}

                        <div class="form-group">
                            <label for="university">University:</label>
                            <select name="university" class="form-control" id="university">
                                {% for uni in form.university %}
                                    {{ uni }}
                                {% endfor %}
                            </select>
                        </div>
                        <div class="form-group">
                            <label for="school">School:</label>
                            <input name="school" type="text" class="form-control" id="school">
                        </div>
                        <div class="form-group">
                            <label for="department">Faculty:</label>
                            <input name="department" type="text" class="form-control" id="department">
                        </div>
                        <label for="science_type"> Science types:</label>
                        <div class="float-right element-padding">
                            <a class="img-button" href="{% url 'faculties:create_tag' %}" role="button">
                                <img src="{% static  'faculties/img/add.png' %}" alt="Add Tag">
                            </a>
                        </div>
                        <div class="div_container">
                        <div class="float-left">
                            {% for tag in tags%}
                            <div class="form-check">
                                <!-- Mark checkboxes with previous values -->
                                    <input type="checkbox" name="science_type" class="form-check-input" id="science_type" value="{{ tag.id }}">
                                    <label>{{ tag }}</label>
                            </div>
                            {% endfor %}
                        </div>
                    </div>
                        <div class="form-group">
                            <label for="url_site">URL:</label>
                            <input name="url_site" type="text" class="form-control" id="url_site">
                        </div>
                        <input class="my_btn" type="submit" value="Add Faculty">
                    </form>
                </div>
            </div>
        </div>
        <div class="col-sm-4">

        </div>
    </div>
</div>

{% endblock %}
