{% extends 'base.html' %}
{% block title %} Add Faculty {% endblock %}

{% block body %}
{{ form.non_field_errors }}
<div class="container-fluid" style="float:center">
    <div class="row row-pad">
        <div class="col-sm-4"></div>
        <div class="col-sm-4">
            <div class="card">
                <div class="text-center">Add Tag</div>
                <div class="card-body">
                    <form method="post">
                        {% csrf_token %}
                            <div class="form-group">
                                <label for="word"> Type:</label>
                                <input name="word" type="text" class="form-control" id="word">
                            </div>
                        <input class="my_btn" type="submit" value="Add Tag">
                    </form>
                </div>
            </div>
        </div>
        <div class="col-sm-4"></div>
    </div>
</div>

{% endblock %}
