{% extends 'base.html' %}

{% block title %} {{ faculty }} details {% endblock %}

{% block staticfile %}
    {% load static %}
    <link rel="stylesheet" href="{% static 'faculties/style.css' %}" type="text/css"/>
    <link rel="stylesheet" href="{% static '/style.css' %}" type="text/css"/>
{% endblock %}
{% load guardian_tags %}
{% block body %}
<div class="container-fluid">
    <div class="d-flex justify-content-center fifty">

        <div class="card card-size border-dark">
            <h5 class="card-header">{{ faculty }}</h5>
            <div class="card-body">
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">School: {{ faculty.school }}</li>
                    <li class="list-group-item">Type:
                        {% for type in tags %}
                        {{ type }}
                        {% endfor %}
                    </li>
                    <li class="list-group-item">URL: <a href=" {{ faculty.url_site }} ">{{ faculty.url_site }}</a></li>
                </ul>
                {% get_obj_perms request.user for faculty as "faculty_perms" %}
                {% if "can_update" in faculty_perms %}
                    <a href="{% url 'faculties:update_faculty' faculty.pk %}" class="my_btn" role="button" style="margin:8px">Faculty Update</a>
                    <a href="{% url 'faculties:delete_faculty' faculty.pk %}" class="my_danger_btn" role="button" style="margin:8px">Faculty Delete</a>
                {% endif %}
            </div>
        </div>
    </div>
    <div class="row-pad table-title">Academic members of the {{ faculty.department }} Department</div>
    <div class="container-fluid">
        <div class="row row-pad">
            <table class="table table-hover table-striped ">
                <thead class="">
                    <th scope="col">#</th>
                    <th scope="col">First name</th>
                    <th scope="col">Last name</th>
                    <th scope="col">Rank</th>
                    <th scope="col" title="Total number of citations">Citations</th>
                    <th scope="col" title="Total number of publications">Publications</th>
                    <th scope="col" title="Number X of publications  with at least X citations">H-Index</th>
                </thead>
                <tbody>
                {% for person in people %}
                <tr data-href="{% url 'people:details' person.id %}" style="cursor: pointer;">
                    <th scope="row">{{ forloop.counter }}</th>
                    <td>{{ person.user.first_name }}</td>
                    <td>{{ person.user.last_name }}</td>
                    <td>{{ person.get_rank_display }}</td>
                    <td>{{ person.citedby }}</td>
                    <td>{{ person.publications }}</td>
                    <td>{{ person.h_index }}</td>
                </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
<script>
    jQuery(document).ready(function($) {
    $('*[data-href]').on('click', function() {
        window.location = $(this).data("href");
    });
});
</script>
{% endblock %}

