{% extends 'base.html' %}
{% block title %} {{ faculty }} delete {% endblock %}

    {% block staticfile %}
	    {% load staticfiles %}
        <link rel="stylesheet" href="{% static '/style.css' %}" type="text/css"/>
	    <link rel="stylesheet" type="text/css" href="{% static 'faculties/style.css' %}" />
    {% endblock %}

{% block body %}
    <form method="post">{% csrf_token %}
        <p>Are you sure you want to delete "{{ object }}"?</p>
        <input type="submit" value="Confirm">
    </form>
{% endblock %}
