{% extends 'base.html' %}
{% block title %} Faculties {% endblock %}
{% block head %}
     <script src="https://cdn.anychart.com/releases/v8/js/anychart-base.min.js"></script>
     <script src="https://cdn.anychart.com/releases/v8/js/anychart-tag-cloud.min.js"></script>
{% endblock %}
{% block staticfile %}
    {% load static %}
     <link rel="stylesheet" href="{% static '/style.css' %}" type="text/css"/>
     <link rel="stylesheet" href="{% static 'faculties/style.css' %}" type="text/css" />
{% endblock %}

{% block body %}
<!-- Search bar for university -->
<div class="container-fluid">
     <div class="row-pad">
          <form method="GET" action="{% url 'faculties:results' %}" id="searchbox">
               <!--{% csrf_token %} -->
               <div class="input-group mb-3">
                    <input type="text" name="query" id="searchform" class="form-control" value="{{ request.GET.query}}"
                           placeholder="Search or view all departments..." aria-label="Search" aria-describedby="basic-addon2" oninput="change_to_submit();">
                    <div class="input-group-append">
                    <button id="submit-btn" class="btn btn-outline-secondary" type="submit">View all</button>
                    </div>
               </div>
          </form>
     </div>
</div>

<!-- Main view of faculties -->
<div class="container-fluid">
     <div class="row row-pad">
          <div class="col-md-6">
               <div id="doughnut-holder">
                    <canvas id="citationsDoughnut"></canvas>
               </div>
               <div class="description">
                         The doughnut Chart contains the 5 departments which has the most citations based on the academic
                         member of each one respectively. It is particularly useful for scientific output comparison.
               </div>
          </div>
          <div class="col-md-6">
               <div class="jumbotron" style="background: #dafafa; height: 650px">
                    <div class="card text-center" style="height: 100%;">
                         <div class="card-header">
                              <ul class="nav nav-tabs card-header-tabs">
                                   <li class="nav-item">
                                        <a id="description_tab" class="nav-link active">Departments</a>
                                   </li>
<!--                                   <li class="nav-item">-->
<!--                                        <a id="staff_member_tab" class="nav-link" onclick="changeActiveTab(this, 'staff_member');">Staff Members</a>-->
<!--                                   </li>-->
                              </ul>
                         </div>
                         <div class="card-body">
                              <div class="row" style="height: 100%;">
                                   <div class="col-md-6 text-left" style="border-right: 1px solid #13E8E9;">
                                        {% for faculty in faculty_list %}
                                             <div id="{{ forloop.counter }}" class="departments" onclick="changeDepartment(this);">
                                                  {{ forloop.counter }}. {{ faculty.department }}
                                             </div>
                                        {% endfor %}
                                   </div>
                                   <div class="col-md-6 description-overflow">
                                        <h4>Description</h4>
                                        <p id="description" class="description description-color">
                                             Select a department to preview the description
                                        </p>
                                   </div>
                              </div>

                         </div>
                    </div>
               </div>
          </div>
     </div>
     <div>
          <div class="row">
               <div class="col-md-12">
                    <div id="faculty_wordcloud"></div>
               </div>
          </div>
     </div>
</div>

<script>
     var dataCitations = [{% for faculty in faculty_list %}{{ faculty.cited }}, {% endfor %}];
     var labels = [{% for faculty in faculty_list %}'{{ faculty.department }}', {% endfor %}];

     var ctx = document.getElementById("citationsDoughnut").getContext('2d');
     var myDoughnutChart = new Chart(ctx, {
         type: 'doughnut',
         data: {
              datasets: [{
                  data: dataCitations,
                   // borderColor: ['rgba(75, 192, 192, 1)', 'rgba(192, 0, 0, 1)'],
                   backgroundColor: ['green', 'gray', 'red', 'yellow', 'blue'],
              }],
              labels: labels
          },
         options: {
                    responsive: true,
                    title: {
                        display: true,
                        text: 'Departments with the most citations'
                    }
                }
    });
     document.getElementById("citationsDoughnut").onclick = function(evt)
     {
         var activePoints = myDoughnutChart.getElementsAtEvent(evt);
         if(activePoints.length > 0)
         {
              //get the internal index of slice in pie chart
               var clickedElementindex = activePoints[0]["_index"];

                //get specific label by index
                var label = myDoughnutChart.data.labels[clickedElementindex];

                //get value by index
                var value = myDoughnutChart.data.datasets[0].data[clickedElementindex];


        }
     }
</script>

<script>
    function change_to_submit(){
        var text = document.getElementById('searchform').value;
        if(text){
            document.getElementById('submit-btn').innerHTML = "Submit";
        }
        else{
            document.getElementById('submit-btn').innerHTML = "View all";
        }
    };
</script>

<script>

// List of words
var myWords = [{% for faculty in faculties_with_most_publications %}
                    {
                         x: "{{ faculty.department }}",
                         value: parseInt({{ faculty.publications }}),
                         category: "{{ faculty.university }}"
                    },
               {% endfor %}
               ];
var i;
var max = 0;
var min = 1000000;
for (i=0; i < myWords.length; i++){
     if (parseInt(myWords[i].value) > max){
          max = parseInt(myWords[i].value);
     }
     if (parseInt(myWords[i].value) < min){
          min = parseInt(myWords[i].value);
     }
}
for(i=0; i < myWords.length; i++){
     myWords[i].value = (parseInt(myWords[i].value) - min) / (max - min);
}

anychart.onDocumentReady(function() {
     // create a tag (word) cloud char
     var chart = anychart.tagCloud(myWords);// set a chart title
     chart.title('Departments with most publications');
     // set an array of angles at which the words will be laid out
     chart.angles([0, -45, 45, 30, 60, 90, -90]);
     // enable a color range
     chart.colorRange(true);
     // set the color range length
     chart.colorRange().length('80%');// display the word cloud chart

     chart.container("faculty_wordcloud").draw();
});

</script>

<script>
     function changeDepartment(element) {
          var departments = [
                  {% for faculty in faculty_list %}
                    {
                         name: '{{ faculty.department }}',
                         description: '{{ faculty.description }}',
                    },
                    {% endfor %}]
          document.getElementById('description').innerText = departments[element.id-1].description;
          document.getElementById('description').classList.remove('description-color');
          document.getElementById('description').classList.add('description-select');
     }
</script>
{% endblock %}
