{% extends 'base.html' %}
{% block title %} Results {% endblock %}
{% block staticfile %}
    {% load static %}
    <link rel="stylesheet" href="{% static '/style.css' %}" type="text/css"/>
    <link rel="stylesheet" href="{% static 'people/style.css' %}" type="text/css" />
{% endblock %}
{% block body %}
{% if faculties %}
    <div id="table-content" style="overflow: auto;">
        <table class="table table-hover table-striped row-pad">
            <thead class="array-results-templates">
                <th scope="col">#</th>
                <th scope="col">Faculty</th>
                <th scope="col">School</th>
                <th scope="col">University</th>
                <th scope="col">Tags</th>
                <th scope="col">Citations</th>
                <th scope="col">H-Index</th>
                <th scope="col">Publications</th>
            </thead>
            <tbody>
            {% for fac in faculties %}
            <tr data-href="{% url 'faculties:detail' fac.id %}">
                <th scope="row">{{ forloop.counter }}</th>
                <td>{{ fac.department }}</td>
                <td>{{ fac.school }}</td>
                <td>{{ fac.university}}</td>
                <td>{% for tag in fac.science_type.all %}{{ tag }} {% endfor %}</td>
                <td>{{ fac.cited }}</td>
                <td>{{ fac.h_index }}</td>
                <td>{{ fac.publications }}</td>
            </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
    <a id="downloadPDF" type="button" style="position: fixed; bottom: 50px; right: 50px;">
        <img src="{% static 'img/pdf.png' %}" alt="Print to PDF" style="height:50px; width:50px;">
    </a>
{% else %}
    <img src="{% static 'img/404.png' %}" class="float-center not-found-img">
{% endif %}
    <div style="margin: 20px;left: 0; bottom: 0;">
        <a href="{% url 'faculties:index' %}"><img class="back-btn" src="{% static 'img/back-btn.png' %}">
        </a>
    </div>
<script>
    jQuery(document).ready(function($) {
        $('*[data-href]').on('click', function() {
            window.location = $(this).data("href");
        });
    });
</script>

<script>
    $('#downloadPDF').click(function () {
    domtoimage.toPng(document.getElementById('table-content'))
        .then(function (blob) {
            var pdf = new jsPDF('l', 'pt', [$('#table-content').width(), $('#table-content').height()]);

            pdf.addImage(blob, 'PNG', 0, 0, $('#table-content').width(), $('#table-content').height());
            pdf.save("report.pdf");

            that.options.api.optionsChanged();
        });
    });
</script>
{% endblock %}
