{% extends 'base.html' %}
{% block title %} Update Faculty {% endblock %}
    {% block staticfile %}
	    {% load static %}
        <link rel="stylesheet" href="{% static '/style.css' %}" type="text/css"/>
	    <link rel="stylesheet" type="text/css" href="{% static '/style.css' %}" />
    {% endblock %}
{% block body %}
{{ form.non_field_errors }}
<div class="container-fluid">
    <div class="d-flex justify-content-center fifty row-pad">
        <div class="card" style="max-width: 50rem;">
            <div class="text-center element-padding-top">Faculty Update</div>
            <div class="card-body">
                <form method="post">
                    {% csrf_token %}
                    <div class="form-group">
                        <label for="university">University:</label>
                        <select name="university" class="form-control" id="university">
                            {% for uni in form.university %}
                                {{ uni }}
                            {% endfor %}
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="school">School:</label>
                        <input name="school" type="text" class="form-control" id="school" value="{{ faculty.school }}">
                    </div>
                    <div class="form-group">
                        <label for="department">Faculty:</label>
                        <input name="department" type="text" class="form-control" id="department" value="{{ faculty.department }}">
                    </div>

                    <label for="science_type"> Science types:</label>
                    <div class="float-right element-padding">
                            <a class="img-button" href="{% url 'faculties:create_tag' %}" role="button">
                                <img src="{% static  'faculties/img/add.png' %}" alt="Add Tag">
                            </a>
                    </div>
                    <div class="div_container">
                        <div class="float-left">
                            {% for tag in tags%}
                                <div class="form-check">
                                <!-- Mark checkboxes with previous values -->
                                    <input type="checkbox" name="science_type" class="form-check-input" id="science_type" value="{{ tag.id }}"
                                        {% for i in faculty.science_type.all %}
                                            {% if tag == i %}
                                                checked="checked"
                                            {% endif %}
                                        {% endfor %}>
                                    <label>{{ tag }}</label>
                                    </div>
                             {% endfor %}
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="url_site">URL:</label>
                        <input name="url_site" type="text" class="form-control" id="url_site" value="{{ faculty.url_site }}">
                    </div>
                    <input class="my_btn" type="submit" value="Update">
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}
