{% extends 'base.html' %}
{% block title %} GRep Home {% endblock %}
{% block staticfile %}
    {% load static %}
    <link rel="stylesheet" href="{% static '/style.css' %}" type="text/css"/>
{% endblock %}
{% block body %}
<div>
{% if authors or faculties %}
    <div class="container-fluid" style="padding-top:20px;">
        <div class="row">
            <div class="col-md-6" style="border-right: 1px solid black;">
                <div style="text-align:center"><h3>Authors</h3></div>
                    <table class="table table-hover">
                        <thead>
                            <th scope="col">#</th>
                            <th scope="col">First name</th>
                            <th scope="col">Last Name</th>
                            <th scope="col">Cited by</th>
                        </thead>
                        <tbody>
                        {% for i in authors %}
                        <tr data-href="{% url 'people:details' i.id %}" style="cursor: pointer;">
                            <th scope="row">{{ forloop.counter }}</th>
                            <td>{{ i.first_name }}</td>
                            <td>{{ i.last_name }}</td>
                            <td>{{ i.author.citedby }}</td>
                        </tr>
                        {% endfor %}
                        </tbody>
                    </table>
            </div>
            <div class="col-md-6">
                <div style="text-align:center"><h3>Faculties</h3></div>
                <table class="table table-hover">
                    <thead>
                        <th scope="col">#</th>
                        <th scope="col">Faculty</th>
                        <th scope="col">School</th>
                        <th scope="col">University</th>
                    </thead>
                    <tbody>
                    {% for fac in faculties %}
                    <tr data-href="{% url 'faculties:detail' fac.id %}" style="cursor: pointer;">
                        <th scope="row">{{ forloop.counter }}</th>
                        <td>{{ fac.department }}</td>
                        <td>{{ fac.school }}</td>
                        <td>{{ fac.university}}</td>
                    </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>

    </div>
{% else %}
    <img src="{% static 'img/404.png' %}" class="float-center not-found-img">
{% endif %}
    <div style="margin: 20px;left: 0; bottom: 0;">
        <a href="{% url 'home:index' %}"><img class="back-btn" src="{% static 'img/back-btn.png' %}">
        </a>
    </div>
</div>

<script>
    jQuery(document).ready(function($) {
        $('*[data-href]').on('click', function() {
        window.location = $(this).data("href");
        });
    });
</script>


{% endblock %}

