{% extends 'base.html' %}
{% block title %} GRep Home {% endblock %}
{% block staticfile %}
    {% load static %}
    <link rel="stylesheet" href="{% static '/style.css' %}" type="text/css"/>
{% endblock %}
{% block body %}
<script src="https://cdn.jsdelivr.net/particles.js/2.0.0/particles.min.js"></script>

<div id="search-container" class="search-container">
    <div class="container-fluid">
        <!-- https://github.com/VincentGarreau/particles.js -->
        <div id="particles-js"></div>
        <div class="row">
            <div class="col-sm-12 text-center">
                <form method="POST"  style="margin-top: 10%;">
                    {% csrf_token %}
                    <div>
                        <div class="home-title">
                            <symbol id="s-text">
                                <text>Scholarity</text>
                            </symbol>
                        </div>
                    </div>
                    <div class="row-pad">
                        <input type="text" name="input" class="input-simple" placeholder="Search Author or Faculty... e.g. University of Macedonia">
                        <input type="submit" style="position: absolute; left: -9999px; width: 1px; height: 1px;" tabindex="-1" />
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<div id="search-container" class="search-container" style="overflow:auto;">

    <div class="container-fluid top" style="margin-top: 20%;">
    <div class="row">
        <div class="col-sm-4">
            <div class="jumbotron" style="background: rgb(0,0,0,0)">
                <h3>Departments with most cited authors</h3>
                <hr>
                {% for i in top_5_departments %}
                <ul>
                     <a href="{% url 'faculties:detail' i.id %}"> {{ i }}</a>
                     </br>
                </ul>
                {% endfor %}
            </div>
        </div>
        <div class="col-sm-4">
            <div class="jumbotron" style="background: rgb(0,0,0,0)">
                <h3>Top 5 cited Authors</h3>
                <hr>
                {% for i in top_5_authors %}
                <ul>
                     <a href="{% url 'people:details' i.id %}"> {{ i }}</a>
                     </br>
                </ul>
                {% endfor %}
            </div>
        </div>
        <div class="col-sm-4">
            <div class="jumbotron" style="background: rgb(0,0,0,0)">
                <h3>Top 5 Universities with most publications</h3>
                <hr>
                {% for i in top_5_universities %}
                <ul>
                     <a> {{ i }}</a>
                     </br>
                </ul>
                {% endfor %}
            </div>
        </div>
    </div>
</div>
</div>



<script>

particlesJS("particles-js", {
  "particles": {
    "number": {
      "value": 200,
      "density": {
        "enable": true,
        "value_area": 800
      }
    },
    "color": {
      "value": "#bfbfbf"
    },
    "shape": {
      "type": "circle",
      "stroke": {
        "width": 0,
        "color": "#bfbfbf"
      },
      "polygon": {
        "nb_sides": 5
      },
      "image": {
        "src": "img/github.svg",
        "width": 100,
        "height": 100
      }
    },
    "opacity": {
      "value": 0.5,
      "random": false,
      "anim": {
        "enable": false,
        "speed": 1,
        "opacity_min": 0.1,
        "sync": false
      }
    },
    "size": {
      "value": 3,
      "random": true,
      "anim": {
        "enable": false,
        "speed": 40,
        "size_min": 0.1,
        "sync": false
      }
    },
    "line_linked": {
      "enable": true,
      "distance": 150,
      "color": "#bfbfbf",
      "opacity": 0.4,
      "width": 1
    },
    "move": {
      "enable": true,
      "speed": 6,
      "direction": "none",
      "random": false,
      "straight": false,
      "out_mode": "out",
      "bounce": false,
      "attract": {
        "enable": false,
        "rotateX": 600,
        "rotateY": 1200
      }
    }
  },
  "interactivity": {
    "detect_on": "canvas",
    "events": {
      "onhover": {
        "enable": true,
        "mode": "grab"
      },
      "onclick": {
        "enable": true,
        "mode": "push"
      },
      "resize": true
    },
    "modes": {
      "grab": {
        "distance": 140,
        "line_linked": {
          "opacity": 1
        }
      },
      "bubble": {
        "distance": 400,
        "size": 40,
        "duration": 2,
        "opacity": 8,
        "speed": 3
      },
      "repulse": {
        "distance": 200,
        "duration": 0.4
      },
      "push": {
        "particles_nb": 4
      },
      "remove": {
        "particles_nb": 2
      }
    }
  },
  "retina_detect": true
});
</script>
<script>
/* ---- stats.js config ---- */

    var count_particles, stats, update;
    stats = new Stats;
    stats.setMode(0);
    stats.domElement.style.position = 'absolute';
    stats.domElement.style.left = '0px';
    stats.domElement.style.top = '0px';
    document.body.appendChild(stats.domElement);
    count_particles = document.querySelector('.js-count-particles');
    update = function() {
        stats.begin();
        stats.end();
        if (window.pJSDom[0].pJS.particles && window.pJSDom[0].pJS.particles.array) {
            count_particles.innerText = window.pJSDom[0].pJS.particles.array.length;
        }
        requestAnimationFrame(update);
    };
    requestAnimationFrame(update);
</script>
<!--
<script>
    var lastScrollTop = 40;
    var delayInMilliseconds = 1000;
    window.addEventListener("wheel", event => {
    var st = window.pageYOffset || document.documentElement.scrollTop;
    if (st > lastScrollTop){
        window.scrollTo(40,document.body.scrollHeight, "slow");
    } else {
        window.scrollTo(0,0);
    }
    lastScrollTop = st <= 0 ? 0 : st;
    });
</script>
-->
<!-- na prosthesw koumpi gia na katevenei -->
<script>
    $('a[href^="#"]').on('click', function(event) {
    var target = $( $(this).attr('href') );
    if( target.length ) {
        event.preventDefault();
        $('html, body').animate({
            scrollTop: target.offset().top,
            scrollBottom: target.offset().bottom
        }, 3000);
    } });
</script>
{% endblock %}
