.row-pad{
    padding-top: 30px;
}

.card{
    max-width: 25rem;
}

.card-wrapper {
  display: flex;
  justify-content: center;
  flex-direction: row;
}

.wrapper {
    text-align: center;
}

.button {
    margin: 5px;
    padding: 5px;
}


.filter-padding{
    padding: 15px;
}

canvas{
  width:1000px !important;
  height:800px !important;
}

h4{
    text-align: center;
}

.backcolor{
    color:#E6E6FA;
}

form{

    height: 80vh;
}


.dropdown-check-list{
    display: inline-block;
    width: 100%;
}
.dropdown-check-list:focus{
    outline:0;
}
.dropdown-check-list .anchor {
    width: 98%;
    position: relative;
    cursor: pointer;
    display: inline-block;
    padding-top:5px;
    padding-left:5px;
    padding-bottom:5px;
    border:0px #ccc solid;
}
.dropdown-check-list .anchor:after {
    position: absolute;
    content: "";
    border-left: 2px solid black;
    border-top: 2px solid black;
    padding: 5px;
    right: 10px;
    top: 20%;
    -moz-transform: rotate(-135deg);
    -ms-transform: rotate(-135deg);
    -o-transform: rotate(-135deg);
    -webkit-transform: rotate(-135deg);
    transform: rotate(-135deg);
}
.dropdown-check-list .anchor:active:after {
    right: 8px;
    top: 21%;
}
.dropdown-check-list ul.items {
    padding: 2px;
    display: none;
    margin: 0;
    border: 0px solid #ccc;
    border-top: none;
}
.dropdown-check-list ul.items li {
    list-style: none;
}
.dropdown-check-list.visible .anchor {
    color: #0094ff;
}
.dropdown-check-list.visible .items {
    display: block;
}
