{% extends 'base.html' %}
{% block title %} Delete {{ object }} {% endblock %}
{% block staticfile %}
    {% load static %}
    <link rel="stylesheet" href="{% static '/style.css' %}" type="text/css"/>
    <link rel="stylesheet" href="{% static 'people/style.css' %}" type="text/css" />
{% endblock %}
{% block body %}
<div class="container-fluid">
    <div class="d-flex justify-content-center row-pad">
        <div class="card cards-size">
            <div class="card-body">
                <form method="post">
                    {% csrf_token %}
                    {% for mes in messages %}
                        <div class="alert alert-danger">
                            <strong>{{ mes|escape }}</strong>
                        </div>
                    {% endfor %}
                    <div class="form-group">
                        <div>Are you sure you want to delete your account" {{ object }}"?</div>
                    </div>
                    <div class="form-group text-center row-pad">
                        <input type="password" class="form-control" id="password" name="password" placeholder="Enter your password" minlength="8">
                    </div>
                    <div class="container-fluid">
                        <div class="row row-pad text-center">
                            <input class="btn btn-outline-danger" type="submit" value="Confirm">
                            <a class="btn btn-outline-dark" href="{% url 'people:update' object.id %} " id="cancel" name="cancel"> Cancel</a>
                        </div>
                    </div>
                </form>
             </div>
        </div>
    </div>
</div>
{% endblock %}
