{% extends 'base.html' %}
{% block title %} Auto update {{ object }} {% endblock %}
{% block staticfile %}
    {% load static %}
    <link rel="stylesheet" href="{% static '/style.css' %}" type="text/css"/>
    <link rel="stylesheet" href="{% static 'people/style.css' %}" type="text/css" />
{% endblock %}
{% block body %}

<div class="container-fluid">
    <div class="row row-pad">
        <div class="col-sm-4">

        </div>
        <div class="col-sm-4">
            <div class="card cards-size border-dark">
                <div class="text-center card-text">Account Update</div>
                <div class="card-body">
                    <form method="post" action=".">
                    {% csrf_token %}
                        {% for error in form.auto_update.errors %}
                        <div class="alert alert-danger">
                            <strong>{{ error|escape }}</strong>
                        </div>
                        {% endfor %}
                        <div id="auto-name" class="form-group">
                            <label for="auto_update">Auto update from Google scholar:</label>
                            <input name="auto_update" type="text" class="form-control" placeholder="Name in GS">
                        </div>
                        <div id="repeat" class="form-group">
                            <label for="repeat_update"></label>
                            <input id="repeat_update" name="repeat_update" type="checkbox" onclick="hideDays();"> Repeat update<br>
                        </div>
                        <div id="update-checktime" class="form-group card-text">
                            {% for error in form.checktime.errors %}
                                <div class="alert alert-danger">
                                    <strong>{{ error|escape }}</strong>
                                </div>
                            {% endfor %}
                            <label for="checktime">Update every:</label>
                            <input id="checktime" name="checktime" type="number" class="form-control" placeholder="Days" min="0" disabled>

                        </div>
                        <button name="auto_update_button" type="submit" class="my_btn" onclick="enable();">Auto-Update</button>
                    </form>
                </div>
            </div>
        </div>
        <div class="col-sm-4">

        </div>
    </div>
</div>

<script >
    function hideDays()
    {
        if(document.getElementById("repeat_update").checked)
        {
            document.getElementById("checktime").disabled = false;
        }
        else
        {
            document.getElementById("checktime").disabled = true;
        }

    }
</script>
<script>
    function enable()
    {
        document.getElementById("checktime").disabled = false;
        if(!document.getElementById("repeat_update").checked)
        {
            document.getElementById("checktime").value = 0;
        }
    }
</script>

{% endblock %}
