{% extends 'base.html' %}
{% block title%} {{ object.user.username }} {% endblock %}
{% block staticfile %}
    {% load static %}
    <link rel="stylesheet" href="{% static '/style.css' %}" type="text/css"/>
    <link rel="stylesheet" href="{% static 'people/style.css' %}" type="text/css" />
{% endblock %}
{% block body %}

<div class="container-fluid">
    <div class="row row-pad">
        <div class="col-md-4">

        </div>
        <div class="col-md-4">
            <div class="card card-size" style="border-style: solid; border-width: 3px;  border-color: #000000;">

                <div class="card-header text-center card-text">
                    <h2>{{ object.user.first_name }} {{ object.user.last_name }}</h2>
                </div>
                <div class="card-body">
                    <div style="width: 100%;">
                        <div class="row">
                            <div class="col-sm-12 text-center">
                                <img class="round-img"
                                     {% if object.profile_photo %}
                                        src="{{ object.profile_photo.url }}"
                                     {% else %}
                                        src="{% static '/img/no_picture.png' %}"
                                     {% endif %} alt="{{ object.user.first_name }} {{ object.user.last_name }}">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-12 text-center">
                                <h6>{{ object.get_rank_display }}</h6>
                            </div>
                        </div>
                        <div class="row row-pad text-center">
                            <div class="col-sm-6">
                                <b>{{ object.faculty.university }}</b>
                            </div>
                            <div class="col-sm-6">
                                <b>{{ object.faculty.school }}</b>
                            </div>
                        </div>
                        <div class="row" style="padding-top:10px;">
                            <div class="col-sm-12 text-center">
                                {% if object.faculty.department %}
                                <a href="{% url 'faculties:detail' object.faculty.id %}">{{ object.faculty.department }} </a>department
                                {% endif %}
                            </div>
                        </div>

                    </div>
                    <div class="row row-pad">
                            <div class="col-lg-3 stats-border" title="Total number of citations">
                                <div class="stats-value pink">{{ object.citedby }}</div>
                                <div class="stats-title">CITATIONS</div>
                            </div>
                            <div class="col-lg-3 stats-border" title="Number X of publications  with at least X citations">
                                <div class="stats-value pink">{{ object.h_index }}</div>
                                <div class="stats-title">H-INDEX</div>
                            </div>
                            <div class="col-lg-3">
                                <div class="stats-value pink" title="Total number of publications">{{ object.publications }}</div>
                                <div class="stats-title">PUBLICATIONS</div>
                            </div>
                            <div class="col-lg-3">
                                <div class="stats-value pink" title="Total number of publications">{{ object.m_index }}</div>
                                <div class="stats-title">M-Index</div>
                            </div>
                        </div>
                    <div class="row row-pad">
                        <div class="col-md-6 text-center">
                            <div><b>Most cited paper:</b></div>
                            <div> {{ object.publication_with_max_citations }}</div>
                            <div>(Cited by {{object.max_citations_in_publication}})</div>
                        </div>
                            <div class="col-md-6 text-center">
                                <div><b>Phd title:</b></div>
                                <div>{{ object.phd_year }}</div>
                            </div>
                    </div>
                    <div class="row row-pad">
                        <div class="col-sm-12 text-center">
                            {% if object.google_scholar_url %}
                            <div><a href="{{ object.google_scholar_url }}">Google Scholar Profile</a></div>
                            {% endif %}
                        </div>
                    </div>
                </div>
                <div class="card-footer">
                    <a class="left">
                        <small class="text-muted">Updated by:
                            {% if object.google_scholar_name != "" %}
                                Google Scholar
                            {% else %}
                                {{ object.user.last_name }}
                            {% endif %}
                        </small>
                    </a>
                    <a class="right">
                        <small class="text-muted">Last update: {{ object.last_update }}</small>
                    </a>
                </div>
            </div>
        </div>
        <div class="col-md-4">

        </div>
    </div>
</div>

{% endblock %}
