{% extends 'base.html' %}
{% block title%} People {% endblock %}
{% block staticfile %}
    {% load static %}
    <link rel="stylesheet" href="{% static '/style.css' %}" type="text/css"/>
    <link rel="stylesheet" href="{% static 'people/style.css' %}" type="text/css" />
{% endblock %}
{% block body %}

    <!-- Search bar for people -->
    <div class="container-fluid">
        <div class="row-pad">

             <form method="GET" action="{% url 'people:results' %}" id="searchbox">
                  {% csrf_token %}
                  <div class="input-group mb-3">
                       <input type="text" name="query" id="searchform" class="form-control" value="{{ request.GET.query}}" placeholder="Search" aria-label="Search" aria-describedby="basic-addon2" oninput="change_to_submit();">
                       <div class="input-group-append">
                       <button id="submit-btn" class="btn btn-outline-secondary" type="submit">View all</button>
                       </div>
                  </div>
             </form>
        </div>
    </div>
<div class="container-fluid">
    <div id="citations_chart" style="width: 100%; min-height: 300px; padding: 20px;"></div>
</div>

<!-- Cards view -->
<div class="container-fluid row-pad">
    <div class="text-center">
        <h4>Most cited authors</h4>
        {% for person in people %}
        <div style="display:inline-block;">
            <div class="card card-stats border-dark">
                    <div class="profile-container">
                        <div class="text-center">
                            <a href="{% url 'people:details' person.id %}">
                                <img class="round-img float-center"
                                     {% if person.profile_photo %}
                                        src="{{ person.profile_photo.url }}"
                                     {% else %}
                                        src="{% static '/img/no_picture.png' %}"
                                     {% endif %} alt="{{ person.user.first_name }} {{ person.user.last_name }}">
                            </a>
                        </div>
                        <div class="text-center">
                            <div class="header-name">{{ person.user.first_name }} {{ person.user.last_name }}</div>
                            <div class="footer-stats clearfix">{{ person.faculty.university }}</div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-md-6" title="Total number of citations">
                                <div class="stats-value pink">{{ person.citedby }}</div>
                                <div class="stats-title">CITATIONS</div>
                            </div>
                            <div class="col-md-6">
                                <div class="stats-value pink" title="Total number of publications">{{ person.publications }}</div>
                                <div class="stats-title" style="font-size:12px;">PUBLICATIONS</div>
                            </div>
                        </div>
                        <div class="row card-text">
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}
        </div>
</div>
<script>
    jQuery(document).ready(function($) {
        $('*[data-href]').on('click', function() {
            window.location = $(this).data("href");
        });
    });

</script>
<script>
    function change_to_submit(){
        var text = document.getElementById('searchform').value;
        if(text){
            document.getElementById('submit-btn').innerHTML = "Submit";
        }
        else{
            document.getElementById('submit-btn').innerHTML = "View all";
        }
    };
</script>

<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
<script type="text/javascript">
      google.charts.load('current', {'packages':['bar']});
      google.charts.setOnLoadCallback(drawChart);

      function drawChart() {
        var data = google.visualization.arrayToDataTable([
          ['', 'Citations'],
          {% for person in people %}
          ['{{ person }}',{{ person.citedby }}],
          {% endfor %}
        ]);

        var options = {
          chart: {
            title: 'Citations',
            subtitle: 'Citations per Researcher',
          }
        };

        var chart = new google.charts.Bar(document.getElementById('citations_chart'));

        chart.draw(data, google.charts.Bar.convertOptions(options));
      }
      $(window).resize(function(){
          drawChart();
       });
</script>
{% endblock %}
