{% extends 'base.html' %}

{% block title %} Results {% endblock %}

{% block staticfile %}
    {% load static %}
    <link rel="stylesheet" href="{% static '/style.css' %}" type="text/css"/>
    <link rel="stylesheet" href="{% static 'people/style.css' %}" type="text/css"/>
{% endblock %}
{% block body %}
{% if authors %}
    <div id="table-content" style="overflow: auto;">
        <table class="table table-hover table-striped" >
            <thead class="array-results-templates">
            <tr>
                <th scope="col">#</th>
                <th scope="col">First name</th>
                <th scope="col">Last Name</th>
                <th scope="col">Cited by</th>
                <th scope="col">H-Index</th>
                <th scope="col">Max citations in publication</th>
            </tr>
            </thead>
            <tbody>
            {% for fac in authors %}
            <tr data-href="{% url 'people:details' fac.id %}">
                <th scope="row">{{ forloop.counter }}</th>
                <td>{{ fac.first_name }}</td>
                <td>{{ fac.last_name }}</td>
                <td>{{ fac.author.citedby }}</td>
                <td>{{ fac.author.h_index }}</td>
                <td>{{ fac.author.max_citations_in_publication }}</td>
            </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
    <a id="downloadPDF" type="button" style="position: fixed; bottom: 50px; right: 50px;">
        <img src="{% static 'img/pdf.png' %}" alt="Print to PDF" style="height:50px; width:50px;">
    </a>
{% else %}
    <img src="{% static 'img/404.png' %}" class="float-center not-found-img">
{% endif %}
    <div style="margin: 20px;left: 0; bottom: 0;">
        <a href="{% url 'people:index' %}"><img class="back-btn" src="{% static 'img/back-btn.png' %}">
        </a>
    </div>

<script>
    jQuery(document).ready(function($) {
    $('*[data-href]').on('click', function() {
        window.location = $(this).data("href");
    });
});
</script>
<script>
    $('#downloadPDF').click(function () {
    domtoimage.toPng(document.getElementById('table-content'))
        .then(function (blob) {
            var pdf = new jsPDF('l', 'pt', [$('#table-content').width(), $('#table-content').height()]);

            pdf.addImage(blob, 'PNG', 0, 0, $('#table-content').width(), $('#table-content').height());
            pdf.save("search-table.pdf");

            that.options.api.optionsChanged();
        });
    });
</script>

{% endblock %}
