{% extends 'base.html' %}

{% block title%} {{ user.name }} {% endblock %}
{% block staticfile %}
    {% load static %}
    <link rel="stylesheet" href="{% static '/style.css' %}" type="text/css"/>
    <link rel="stylesheet" href="{% static 'people/style.css' %}" type="text/css" />
{% endblock %}
{% block body %}

<div class="container-fluid">
    <div class="row row-pad">
        <div class="col-sm-4">

        </div>
        <div class="col-sm-4">
            <div class="card cards-size border-dark">
                <div class="text-center card-text">
                    <h3>Account Update</h3>
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-lg-6">Connect your account with Google Scholar?</div>
                        <div class="col-lg-6">
                            <a name="auto-update-button" type="button" href="{% url 'people:auto-update' user.id %}" class="my_btn" style="float: right;">Auto update</a>
                        </div>
                    </div>
                    <br >
                    <hr class="row-pad">
                    <form method="post" enctype="multipart/form-data">
                        {% csrf_token %}
                        <div id="university" class="form-group">
                            <label for="university">University:</label>
                            <select id="university-select" name="university" class="form-control js-get_schools">
                                {% for uni in university %}
                                <option value="{{ uni }}">{{ uni }}</option>
                                {% endfor %}
                            </select>
                        </div>
                        <div class="form-group">
                            {% for error in form.school.errors %}
                                <div class="alert alert-danger">
                                    <strong>{{ error|escape }}</strong>
                                </div>
                            {% endfor %}
                            <label for="school">School:</label>
                            <select name="school" class="form-control" id="school-select">
                                {% for sch in school %}
                                <option>{{ sch }}</option>
                                {% endfor %}
                            </select>
                        </div>
                        <div class="form-group">
                            {% for error in form.faculty.errors %}
                                <div class="alert alert-danger">
                                    <strong>{{ error|escape }}</strong>
                                </div>
                            {% endfor %}
                            <label for="department">Faculty:</label>
                            <select name="department" class="form-control" id="department-select">
                            {% for fac in department %}
                                <option>{{ fac }}</option>
                            {% endfor %}
                            </select>
                        </div>
                        <div>
                            {% for error in form.rank.errors %}
                                <div class="alert alert-danger">
                                    <strong>{{ error|escape }}</strong>
                                </div>
                            {% endfor %}
                            <label for="rank">Academic Rank:</label>
                            <select name="rank" class="form-control" id="rank">
                            {% for value, text in form.rank.field.choices %}
                                <option value="{{ value }}" {% if object.rank == value %} selected="selected"{% endif %}>{{ text }}</option>
                            {% endfor %}
                            </select>
                        </div>
                        <div class="form-group">
                            {% for error in form.citedby.errors %}
                                <div class="alert alert-danger">
                                    <strong>{{ error|escape }}</strong>
                                </div>
                            {% endfor %}
                            <label for="citedby">Total citations:</label>
                            <input name="citedby" type="text" class="form-control" id="citedby" value="{{ object.citedby }}">
                        </div>
                        <div class="form-group">
                            {% for error in form.publications.errors %}
                                <div class="alert alert-danger">
                                    <strong>{{ error|escape }}</strong>
                                </div>
                            {% endfor %}
                            <label for="publications">Publications:</label>
                            <input name="publications" type="text" class="form-control" id="publications" value="{{ object.publications }}">
                        </div>
                        <div class="form-group">
                            <label for="h_index">H-Index:</label>
                            <input name="h_index" type="number" class="form-control" id="h_index" min="0" value="{{ object.h_index }}">
                        </div>
                        <div class="form-group">
                            <label for="i_10_index">I10-Index:</label>
                            <input name="i_10_index" type="number" class="form-control" id="i_10_index" min="0" value="{{ object.i_10_index }}">
                        </div>
                        <div class="form-group">
                            <label for="m_index">M-Index:</label>
                            <input name="m_index" type="number" class="form-control" id="m_index" min="0.0" value="{{ object.m_index }}" step=0.01>
                        </div>
                        <div class="form-group">
                            <label for="max_citations_in_publication">Max citations in paper:</label>
                            <input name="max_citations_in_publication" type="number" class="form-control" id="max_citations_in_publication" min="0" value="{{ object.max_citations_in_publication }}">
                        </div>
                        <div class="form-group">
                            <label for="phd_year">Phd year:</label>
                            <input name="phd_year" type="date" class="form-control" id="phd_year" value='{{ object.phd_year|date:"Y-m-d" }}'>
                            {% for error in form.phd_year.errors %}
                                <div class="alert alert-danger">
                                    <strong>{{ error|escape }}</strong>
                                </div>
                            {% endfor %}
                        </div>
                        <div class="form-group">
                            <label for="google_scholar_url">Google scholar URL:</label>
                            <input name="google_scholar_url" type="text" class="form-control" id="google_scholar_url" value="{{ object.google_scholar_url }}">
                        </div>
                        <div class="form-group">
                            {% for error in form.publication_with_max_citations.errors %}
                                <div class="alert alert-danger">
                                    <strong>{{ error|escape }}</strong>
                                </div>
                            {% endfor %}
                            <label for="publication_with_max_citations">Most cited paper:</label>
                            <input name="publication_with_max_citations" type="text" class="form-control" id="publication_with_max_citations" value="{{ object.publication_with_max_citations }}">
                        </div>
                        <div class="form-group">
                            <label for="bio_published">Published Bio:</label>
                            <input name="bio_published" type="checkbox" class="form-control" id="bio_published" value="{{ object.bio_published }}">
                        </div>
                        <hr>

                            <span>Profile Photo</span><br>
                            {{ form.profile_photo }}
                        <div class="row-pad">
                            <button name="manual-update" type="submit" class="my_btn" value="Update">Submit</button>
                            <a href="{% url 'people:delete' user.id %}" type="button" class="my_danger_btn">Delete Account</a>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="col-sm-4">
        </div>
    </div>
</div>

<script type="text/javascript">
    $("#university-select").change(function () {
        var university = $(this).val();

        $.ajax({
      		url :  "{% url 'people:get_schools' %}",
      		data : {
      		    'university': university
      		},
      		success : function(response){
                select = document.getElementById('school-select');
                select.options.length = 0;
                console.log(response.schools);
                var i = 0;
                for (i = 0; i < response.schools.length; i++) {
                    select.options[i] = new Option(response.schools[i], response.schools[i]);
                }
      		},
      		error : function(response){
      			alert('Error occurred')
      		}
      	});
    });

</script>
<script type="text/javascript">

        $("#school-select").change(function () {
        var school = $(this).val();

        $.ajax({
      		url :  "{% url 'people:get_departments' %}",
      		data : {
      		    'school': school,
      		    'university': document.getElementById('university-select').value,
      		},
      		success : function(response){
                select = document.getElementById('department-select');
                select.options.length = 0;
                console.log(response.schools);
                var i = 0;
                for (i = 0; i < response.departments.length; i++) {
                    select.options[i] = new Option(response.departments[i], response.departments[i]);
                }
      		},
      		error : function(response){
      			alert('Error occured')
      		}
      	});
    });
</script>
{% endblock %}


