{% extends 'base.html' %}
    {% block staticfile %}
	    {% load static %}
        <link rel="stylesheet" href="{% static '/style.css' %}" type="text/css"/>
	    <link rel="stylesheet" type="text/css" href="{% static 'accounts/style.css' %}"/>
    {% endblock %}
{% block body %}
<div class="container-fluid">
    <div class="row">
        <div class="col-md-4">

        </div>
        <div class="col-md-4">
            <div class="pad-top">
                <form method="post">
                    {% csrf_token %}
                    <div class="card text-center border-dark card-signin" style="margin: auto;">
                        <div class="card-body pad-top">
                            <h5 class="card-title">Login Form</h5>
                            <p class="card-text">{{ form.as_p }}</p>
                            <a href="{% url 'accounts:signup' %}" class="btn text-muted">Register?</a>
                            <button class="my_btn" type="submit">Login</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <div class="col-md-4">

        </div>
    </div>
</div>
{% endblock %}
