.signup-container{
    padding-top: 50px;
}

.card-signin{
    width: 18rem;
    background-color: #fafafa;
}

.sign-in{
    float:left;
    margin-left:0px;
    padding-left:20px;
}

.sign-in:hover {
  background-color: cyan;
}

.pad-top{
    padding-top: 50px;
}
