{% extends 'base.html' %}
{% block title%} Analytics {% endblock %}
{% block staticfile %}
    {% load static %}
    <link rel="stylesheet" href="{% static '/style.css' %}" type="text/css"/>
    <link rel="stylesheet" href="{% static 'analytics/style.css' %}" type="text/css" />
{% endblock %}
{% block body %}

<div class="container-fluid">
    <div class="row row-pad">
        <div class="col-sm-2 float-left" style="overflow-x: scroll;">
            <form id="filter-form" method="post">
                {% csrf_token %}
                <h4 class="filter-padding"> Filters </h4>
                <hr>
                <div class="filter-padding">
                    <div id="uni-list" class="dropdown-check-list" tabindex="100">
                        <span class="anchor">Universities</span>
                            <ul class="items">
                                {% for i in form.university %}
                                    <li>
                                        <a onclick="submit();">{{ i }}</a>
                                    </li>
                                {% endfor %}
                            </ul>
                    </div>
                </div>
                <div class="filter-padding">
                    <div id="school-list" class="dropdown-check-list" tabindex="100">
                        <span class="anchor">Schools</span>
                            <ul class="items">
                                {% for i in form.school %}
                                    <li>
                                        <a onclick="submit();">{{ i }}</a>
                                    </li>
                                {% endfor %}
                            </ul>
                    </div>
                </div>
                <div class="filter-padding">
                    <div id="department-list" class="dropdown-check-list" tabindex="100">
                        <span class="anchor">Departments</span>
                            <ul class="items">
                                {% for i in form.department %}
                                <li>
                                    <a onclick="submit();">{{ i }}</a>
                                </li>
                                {% endfor %}
                            </ul>
                    </div>
                </div>
                <div class="filter-padding">
                    <div id="type-list" class="dropdown-check-list" tabindex="100">
                        <span class="anchor">Type</span>
                            <ul class="items">
                                <li>
                                {% for i in form.science_type %}
                                    <a onclick="submit();">{{ i }}</a>
                                {% endfor %}
                                </li>
                            </ul>
                    </div>
                </div>
                <input type='hidden' id='hiddenField' name='hiddenField' value=''/>
<!--                <div class="wrapper button">
                    <button id="sorting-button" type="submit" class="my_btn" style="position:-9999px;">Submit</button>
                </div>-->
            </form>
        </div>
        <div id="table-content" class="col-sm-10">
            <div class="clearfix text-right button">
                <a type="button" class="btn btn-dark" onclick="changeTabs('tables');" role="button">Show Tables</a>
                <a type="button" class="btn btn-dark" onclick="changeTabs('charts');" role="button">Show Charts</a>
            </div>
            <!-- Data field -->
            {% if faculty %}
            <div id="table-div" class="container-fluid">
                <!-- University level -->
                <div class="row" style="overflow-y: scroll;">
                    <table class="table table-hover table-striped row-pad">
                        <thead class="array-results-templates">
                            <th scope="col"><a type="button" onclick="sort(this);" name="sort_by_university" >University</a></th>
                            <th scope="col"><a name="sort_by_citations">Citations</a></th>
                            <th scope="col"><a name="sort_by_publications">Publications</a></th>
                            <th scope="col"><a name="sort_by_h_index">H Index</a></th>
                            <th scope="col"><a name="sort_by_i_10_index">I-10 Index</a></th>
                            <th scope="col"><a name="sort_by_m_index">M Index</a></th>
                        </thead>
                        <tbody>
                        {% for key, values in university.items %}
                                <tr>
                                    <td scope="row">{{ key }}</td>
                                    <td>{{ values.cited }}</td>
                                    <td>{{ values.publications }}</td>
                                    <td>{{ values.h_index }}</td>
                                    <td>{{ values.i_10_index }}</td>
                                    <td>{{ values.m_index }}</td>
                                </tr>
                        {% endfor %}
                        </tbody>

                        <thead class="array-results-templates">
                            <th scope="col"><a type="button" onclick="sort(this);" name="sort_by_department" >Department</a></th>
                            <th scope="col"><a  name="sort_by_citations">Citations</a></th>
                            <th scope="col"><a  name="sort_by_publications">Publications</a></th>
                            <th scope="col"><a  name="sort_by_h_index">H Index</a></th>
                            <th scope="col"><a  name="sort_by_i_10_index">I-10 Index</a></th>
                            <th scope="col"><a  name="sort_by_m_index">M Index</a></th>
                        </thead>
                        <tbody>
                        {% for key, values in faculty.items %}
                            {% for i in values %}
                                <tr data-href="{% url 'faculties:detail' i.id %}" style="cursor: pointer;">
                                    <td scope="row">{{ key }}</td>
                                    <td>{{ i.cited }}</td>
                                    <td>{{ i.publications }}</td>
                                    <td>{{ i.h_index }}</td>
                                    <td>{{ i.i_10_index }}</td>
                                    <td>{{ i.m_index }}</td>
                                </tr>
                            {% endfor %}
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
            <div id="charts-div" class="container-fluid" style="display: none;">
                <div class="row">
                    <div id="barchart-holder">
                        <canvas id="citationsBarChart" class="text-center"></canvas>
                   </div>
                </div>
            </div>
            {% endif %}
        </div>
    </div>
    <a id="downloadPDF" type="button" style="position: fixed; bottom: 50px; right: 50px;">
        <img src="{% static 'img/pdf.png' %}" alt="Print to PDF" style="height:50px; width:50px;">
    </a>
</div>

<script type="text/javascript">
    function submit()
    {
        document.getElementById('filter-form').submit();
    }
</script>
<script type="text/javascript">

    function sort(element)
    {
        document.getElementById('hiddenField').value = element.name;
        document.getElementById('filter-form').submit();
    }

</script>

<script type="text/javascript">
    jQuery(document).ready(function($) {
        $('*[data-href]').on('click', function() {
            window.location = $(this).data("href");
        });
    });
</script>

<script>
    jQuery(function ($) {
        var checkList = $('.dropdown-check-list');
        checkList.on('click', 'span.anchor', function(event){
            var element = $(this).parent();

            if ( element.hasClass('visible') )
            {
                element.removeClass('visible');
            }
            else
            {
                element.addClass('visible');
            }
        });
    });
</script>

<script>
    $('#downloadPDF').click(function () {
    domtoimage.toPng(document.getElementById('table-content'))
        .then(function (blob) {
            var pdf = new jsPDF('l', 'pt', [$('#table-content').width(), $('#table-content').height()]);

            pdf.addImage(blob, 'PNG', 0, 0, $('#table-content').width(), $('#table-content').height());
            pdf.save("analytics-exports.pdf");

            that.options.api.optionsChanged();
        });
    });
</script>

<script>
    function changeTabs(value) {

      if (value === "charts") {
          document.getElementById("charts-div").style.display = "block";
          document.getElementById("table-div").style.display = "none";
      } else {
          document.getElementById("table-div").style.display = "block";
          document.getElementById("charts-div").style.display = "none";
      }
    }
</script>

<script>
    var data = [{% for key, values in university.items %} {{ values.cited }}, {% endfor %}];
    var labels = [{% for key, values in university.items %}'{{ key }}', {% endfor %}];

    var ctx = document.getElementById("citationsBarChart").getContext('2d');
    var myBarChart = new Chart(ctx, {
    type: 'bar',
    data: {
        datasets: [{
            data: data,
            backgroundColor: ['green', 'gray', 'red', 'yellow', 'blue', '#cfc708', '#2d4aad', '#7e2580', '#aa3f2d',
                '#b0c886', '#5f4214', '#64f463', '#0f159e'],
            maxBarThickness: 8,
            minBarLength: 2,
        }],
        labels: labels
    },
    options: {
        responsive: true,
        title: {
            display: true,
            text: 'Universities with the most citations'
        }
    }
    });
</script>
{% endblock %}
