{% extends 'base.html' %}

{% block title %}Sign Up{% endblock %}
{% block staticfile %}
    {% load static %}
    <link rel="stylesheet" href="{% static '/style.css' %}" type="text/css"/>
    <link rel="stylesheet" href="{% static 'accounts/style.css' %}" type="text/css"/>
{% endblock %}
{% block body %}
<div class="container-fluid">
    <div class="row">
        <div class="col-md-12 text-center">
            <form method="post" class="pad-top">
                {% csrf_token %}
                <div class="card text-center border-dark card-signin"  style="margin: auto;">
                    <div class="card-body">
                        <div class="form-group">
                            {% for error in form.email.errors %}
                                <div class="alert alert-danger">
                                    <strong>{{ error|escape }}</strong>
                                </div>
                            {% endfor %}
                            <label for="email">Email Address</label>
                            <input name="email" type="text" class="form-control" id="email" value="{% if form.email.value is not None %}{{ form.email.value }}{% endif %}">
                        </div>
                        <div class="form-group">
                            {% for error in form.first_name.errors %}
                                <div class="alert alert-danger">
                                    <strong>{{ error|escape }}</strong>
                                </div>
                            {% endfor %}
                            <label for="first_name">First name</label>
                            <input name="first_name" type="text" class="form-control" id="first_name" value="{% if form.first_name.value is not None %}{{ form.first_name.value }}{% endif %}">
                        </div>
                        <div class="form-group">
                            {% for error in form.last_name.errors %}
                                <div class="alert alert-danger">
                                    <strong>{{ error|escape }}</strong>
                                </div>
                            {% endfor %}
                            <label for="last_name">Last name</label>
                            <input name="last_name" type="text" class="form-control" id="last_name" value="{% if form.last_name.value is not None %}{{ form.last_name.value }}{% endif %}">
                        </div>
                        <div class="form-group">
                            {% for error in form.username.errors %}
                                <div class="alert alert-danger">
                                    <strong>{{ error|escape }}</strong>
                                </div>
                            {% endfor %}
                            <label for="username">Username:</label>
                            <input name="username" type="text" class="form-control" id="username" value="{% if form.username.value is not None %}{{ form.username.value }}{% endif %}">
                        </div>
                        <div class="form-group">
                            {% for error in form.password1.errors %}
                                <div class="alert alert-danger">
                                    <strong>{{ error|escape }}</strong>
                                </div>
                            {% endfor %}
                            <label for="password1">Password</label>
                            <input name="password1" type="password" class="form-control" id="password1">
                        </div>
                        <div class="form-group">
                            {% for error in form.password2.errors %}
                                <div class="alert alert-danger">
                                    <strong>{{ error|escape }}</strong>
                                </div>
                            {% endfor %}
                            <label for="password2">Confirm password:</label>
                            <input name="password2" type="password" class="form-control" id="password2">
                        </div>
                        <button class="my_btn" type="submit">Sign up</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

{% endblock %}
