/* ---- reset ---- */

body {
    margin: 0;
    font:normal Arial, Helvetica, sans-serif;
    height: 100%;
    background-color: #fafafa;
}

.row-pad{
    padding-top:30px;
}

.nav-item{
    text-align: center;
    height: 100%;

}

.nav-item:hover{
    display: block;
    background-color: #003300;
    border: 1px solid #f5f5f5;
    margin:-1px;
}

.search-container{
    min-height: 80vh;
}

.search-container .slist{
    min-height: 40vh;
}

.main-container{
    min-height: 100vh; /* will cover the 100% of viewport */
    overflow: hidden;
    display: block;
    position: relative;
    padding-bottom: 4rem;
}

/* Footer */

footer {
    position: relative;
    bottom: 0;
    width: 100%;
    background-color:#212529;
    color: #fff;
}

.footer-space{
    padding: 15px;
}

.footer-border{
    border-right: 1px solid red;
}

.footer-title{
    font-size: 30px;
    border-bottom: 1px solid red;
}

.footer-register-text{
    font-size: 30px;
    text-align: center;
}

.links-footer-button a {
    color: #fafafa;
}

.footer-button{
    background-color: red;
    color: #fff;
    border-radius: 30px;
    border: 3px solid orangered;
    margin-bottom: 5px;
}

canvas {
  display: block;
  vertical-align: bottom;
}

div .top{
    margin-top: 20px;
}


div .login{
    text-align: left;
}

.clearfix {
  overflow: auto;
}

/* CSS for search bar home page */

.input-simple {
    width: 50%;
    height: 50px;
    border: 2px solid #000000;
    border-radius: 0;
    background: #fafafa;
    color: #000000;
    font-family: Roboto;
    font-size: 16px;
    font-weight: 400;
}

.input {
  box-sizing: border-box;
  width: 50px;
  height: 50px;
  border: 4px solid #000000;
  border-radius: 50%;
  background: none;
  color: #fff;
  font-size: 16px;
  font-weight: 400;
  font-family: Roboto;
  outline: 0;
  -webkit-transition: width 0.4s ease-in-out, border-radius 0.8s ease-in-out,
    padding 0.2s;
  transition: width 0.4s ease-in-out, border-radius 0.8s ease-in-out,
    padding 0.2s;
  -webkit-transition-delay: 0.4s;
  transition-delay: 0.4s;
  -webkit-transform: translate(-100%, -50%);
  -ms-transform: translate(-100%, -50%);
  transform: translate(-100%, -50%);
}

.square {
  box-sizing: border-box;
  padding: 0 40px 0 10px;
  width: 300px;
  height: 50px;
  border: 4px solid #000000;
  border-radius: 0;
  background: none;
  color: #000000;
  font-family: Roboto;
  font-size: 16px;
  font-weight: 400;
  outline: 0;
  -webkit-transition: width 0.4s ease-in-out, border-radius 0.4s ease-in-out,
    padding 0.2s;
  transition: width 0.4s ease-in-out, border-radius 0.4s ease-in-out,
    padding 0.2s;
  -webkit-transition-delay: 0.4s, 0s, 0.4s;
  transition-delay: 0.4s, 0s, 0.4s;
  -webkit-transform: translate(-100%, -50%);
  -ms-transform: translate(-100%, -50%);
  transform: translate(-100%, -50%);
}


.my_btn{
  background-color: #343a40; /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

.my_danger_btn{
  background-color: #ff0000; /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

.home-title{
    display: block;
    font: 10.5em 'Montserrat';
    width: 80%;
    height: 30%;
    margin: 0 auto;
}

.logo{
    filter: invert(100%) sepia(0%) saturate(7485%) hue-rotate(150deg) brightness(105%) contrast(98%);
    height:35px;
    width: 40px;
}

.not-found-img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    padding-top:100px;
}
.back-btn{
    position: relative;
    height:50px;
    width: 50px;
}

.menu-bar-picture{
    border-radius: 50%;
    height: 30px;
    width: 30px;
}

.array-results-templates{
    border-bottom: 5px solid black;
}

/* ---- Animations ---- */

/* ---- particles.js container ---- */
#particles-js {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #fafafa;
  /*background-image: url("");*/
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 50%;
}

/* ---- stats.js ---- */

.count-particles{
  background: grey;
  position: absolute;
  top: 48px;
  left: 0;
  width: 80px;
  color: #13E8E9;
  font-size: .8em;
  text-align: left;
  text-indent: 4px;
  line-height: 14px;
  padding-bottom: 2px;
  font-family: Helvetica, Arial, sans-serif;
  font-weight: bold;
}

.js-count-particles{
  font-size: 1.1em;
}

#stats,
.count-particles{
  -webkit-user-select: none;
}

#stats{
  border-radius: 3px 3px 0 0;
  overflow: hidden;
}

.count-particles{
  border-radius: 0 0 3px 3px;
}
