.scroll-wrapper{
    overflow-x: scroll;
      overflow-y: hidden;
      white-space: nowrap;

      .card {
        display: inline-block;
      }
}

.card-stats{
    width: 20rem;
    min-height: 200px;
    margin:15px;

}

.profile-container{
    display: block;
    background-color: #fafafa;
    box-shadow: 0 1px 2px rgba(0,0,0,.35);
    border: 5px solid #f5f5f5;
}
.information{
    margin:10px;
    padding-bottom: 35px;
}

.header-name{
    font: 21px 'Lucida Sans','trebuchet MS',Arial,Helvetica;
    display: inline-block;
    margin-top: 10px;
    text-align: center;
}

.footer-stats{
    font-size:12px;
    text-align: center;
}

.stats-title{
    font-size:13px;
    text-align: center;
}

.stats-value{
    text-align: center;
    font-size:30px;
}

.stats-border{
    border-right: 1px solid #eee;
}

.pink {
    color: #e75b8d!important;
}

.round-img{
    border-radius: 50%;
    height:150px;
    width:150px;
    margin: 15px;
    border: 10px solid #f5f5f5;
}

.right{
    float:right;
}

.left{
    float:left;
}

div .card-text{
    padding-top:15px;
}

.row-pad{
    padding-top: 30px;
}

.cards-size{
    max-width: 30rem;
}

th a.{
    display: block;
}

[data-href] {
    cursor: pointer;
}
