/* ******** Profile Card********* */
.card-stats{
    width: 20rem;
    min-height: 200px;
    margin:15px;

}

.profile-container{
    display: block;
    background-color: #fafafa;
    box-shadow: 0 1px 2px rgba(0,0,0,.35);
    border: 5px solid #f5f5f5;
}
.information{
    margin:10px;
    padding-bottom: 35px;
}

.header-name{
    font: 21px 'Lucida Sans','trebuchet MS',Arial,Helvetica;
    display: inline-block;
    margin-top: 10px;
    text-align: center;
}

.footer-stats{
    font-size:12px;
    text-align: center;
}

.stats-title{
    font-size:13px;
    text-align: center;
}

.stats-value{
    text-align: center;
    font-size:30px;
}

.stats-border{
    border-right: 1px solid #eee;
}

.pink {
    color: #e75b8d!important;
}

.round-img{
    border-radius: 50%;
    height:150px;
    width:150px;
    margin: 15px;
    border: 10px solid #f5f5f5;
}

/* ******** End Card********* */

.element-padding-top{
    padding-top:15px;
}

.element-padding{
    padding-bottom: 15px;
}

.div_container{
    display: flex;
    flex-direction: row;
}

.line{
    display: inline-block;
}

.img-button{
    max-width: 30px;
    max-height: 30px;
    border: 0;
}

h3{
    text-align: center;
}

.card-size{
    max-width: 30rem;
}

.fifty{
    padding-top:50px;
}

.table-title{
    font-size: 30px;
    text-align: center;
}

/* Charts */

#doughnut-holder{
    padding: 15px;
    height: auto;
    width: auto;
}

.departments{
    padding-top: 15px;
    font-size: 25px;
    font-family: SansSerif;
}

.description{
    position: relative;
    text-align: center;
    padding-top: 30px;
    font-size: 25px;
    font-family: SansSerif;
}

.description-color{
    color: violet;
}

.description-select{
    font-size: 15px;
}

.description-overflow{
    overflow: auto;
}

#faculty_wordcloud{
    height: 600px;
    width: 100%;
    padding-top: 50px;
}